.container {
  margin-top: $header-height;
  height: calc(100vh - #{$header-height});
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;

  @media #{$touch} {
    grid-template-columns: auto;
  }
}

.hide-in-touch {
  @media #{$touch} {
    display: none;
  }
}
