// colors
$main-color: rgb(51, 61, 71);
$chat-back: #0196ab;
$white: white;
$light: #f3f3f3;

// sizes
$header-height: 75px;
$card-height: 90px;
$new-message-height: 45px;

// media
$touch: (
  max-width: 800px,
);
