.chatList {
  border-right: 2px solid $light;
  height: 100%;
  overflow: auto;

  &__card {
    height: $card-height;
    background-color: $light;
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-bottom: 2px solid white;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    color: $main-color;

    &:hover {
      background-color: rgba($main-color, 0.2);
      transition: all 0.2s ease;
    }

    &--active {
      background-color: rgba($main-color, 0.2);
    }
  }

  &__profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $main-color;

    svg {
      width: 100%;
      height: 100%;
      color: white;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 14px;
      padding-left: 12px;
      margin-top: 0;
      margin-bottom: 11px;

      &:nth-child(2) {
        font-weight: normal;
        margin: 0;
      }
    }
  }
}
