.contactDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__h1 {
    text-align: center;
    color: $main-color;
    font-size: 12px;
    font-weight: bold;
    padding-top: 50px;
  }

  &__btn {
    background: $main-color;
    color: white;
    width: 120px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 40px;
    margin: auto;
    cursor: pointer;

    &:active {
      box-shadow: 0 3px 12px rgba($main-color, 0.3);
    }
  }
}
