.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: $main-color;
  color: $white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 12px;
  align-items: center;

  svg {
    cursor: pointer;
  }

  h1 {
    margin: 0;
  }

  @media #{$touch} {
    justify-content: flex-end;
  }

  &__chats {
    display: none !important;

    @media #{$touch} {
      display: block !important;
      margin-left: 22px;
    }
  }
}
