.messagesList {
  background-color: $chat-back;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 79px;

  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px;
    height: $header-height;
    align-items: center;
    color: $light;
    font-size: 11px;
    font-weight: normal;
    cursor: pointer;

    @media #{$touch} {
      width: calc(100% - 114px);
    }
  }

  &__profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
    background: white;

    svg {
      width: 100%;
      height: 100%;
      color: $main-color;
    }
  }

  &__card {
    background-color: $light;
    padding: 12px;
    font-size: 10px;
    border-radius: 0 8px 8px 8px;
    margin: 5px 30px;
    width: fit-content;
    max-width: 45%;

    &-box {
      width: 100%;
      text-align: left;

      &--me {
        text-align: right;
      }
    }

    &--me {
      border-radius: 8px 0 8px 8px;
      float: right;
    }
  }

  &__chatBox {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
    max-height: calc(100vh - #{$new-message-height} - #{$header-height} - 34px);
    overflow: auto;
    width: 100%;
    height: fit-content;
  }

  &__empty {
    text-align: center;
    color: white;
  }
}
