.modal {
  &__container {
    width: 100vw;
    height: 100vh;
    background: $main-color;
    z-index: 12;
    position: fixed;
  }

  &__modal {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 500px;
    height: 50%;
    min-height: 400px;
    overflow: auto;
    background-color: white;
    border-radius: 8px;

    @media #{$touch} {
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 0;
      margin-top: $header-height;
    }

    &-back {
      position: absolute;
      left: 30px;
      top: 26px;
      color: $light;
    }

    &-title {
      position: absolute;
      left: 71px;
      top: 29px;
      font-size: 14px;
      color: $light;
      margin: 0;
    }
  }
}
