.newMess {
  &__form {
    position: absolute;
    bottom: 20px;
    height: $new-message-height;
    width: 100%;
  }

  &__input {
    background-color: $light;
    padding: 10px 60px 10px 10px;
    border-radius: $new-message-height;
    border: none;
    outline: none;
    width: 90%;
    position: absolute;
    right: 5%;
    height: 100%;
  }

  &__btn {
    width: 66px;
    height: 100%;
    border-radius: $new-message-height;
    position: absolute;
    right: 5%;
    top: 0;
    background-color: $main-color;
    border: none;
    color: $light;
    cursor: pointer;

    &:active {
      box-shadow: 0 3px 12px rgba($main-color, 0.5);
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
}
